.container {
    display: block;
    width: 95%;
    margin: 0 auto;
}

.header {
    background-color: #000;
    padding-left: 30px;
    padding-right: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: space-between;
}

.header__logo-img {
    margin-right: 35px;
}

.header__logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo-text img {
    display: block;
}

.header__search {
    width: 680px;
    height: 33px;
    position: relative;
}

.header__search svg {
    width: 20.31px;
    height: 20.31px;
    color: #808080;
    position: absolute;
    top: 5.84px;
    left: 14.84px;
}

.header__search input {
    width: 100%;
    height: 100%;
    font-family: "Roboto";
    font-size: 1.0625rem;
    font-weight: 300;
    background-color: #373737;
    outline: none;
    border: none;
    border-radius: 4px;
    padding-left: 5rem;
    color: #fff;
}

.header__search input::placeholder {
    color: #808080;
}

.header__account {
    width: 385px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__account a {
    text-decoration: none;
}

.header__account-favorites a,
.header__account-notifications a,
.header__account-basket a {
    height: 100%;
    color: #E7E2E2;
    display: flex;
    justify-content: space-center;
    align-items: center;
}

.header__account-acc {
    width: 186px;
    height: 100%;
    border-radius: 30px;
    font-size: 1.875rem;
    background-color: #fff;
    color: #000;
}

.header__account-acc a {
    height: 100%;
    color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main__navbar {
    width: 853px;
    height: 22px;
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}

.main__navbar-list {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main__navbar-item::after {
    content: "|";
    color: #D1D1D1;
    margin-left: 20px;
}

.main__navbar-item:last-child::after {
    content: "";
    margin: 0;
}

.main__navbar-item a {
    text-decoration: none;
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 500;
    color: #000;
    position: relative;
}

.main__navbar-item a::before {
    content: "";
    position: absolute;
    transform: scaleX(0);
    top: 25px;
    left: 0;
    height: 2px;
    background-color: #000;
}

.main__navbar-item a:hover::before {
    width: 100%;
    transition: 0.2s all ease-in;
    transform: scaleX(1);
}

.main {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    padding: 40px 0;
}
.popular-books {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 52px;
    position: relative;
}
.popular-books__title {
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 500;
    margin-left: 500px;
}
/*  */
.popular-books__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.popular-books__navigation {
    margin-right: 60px;
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.slider-button-prev,
.slider-button-next {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0;
}

.slider-button-prev:hover,
.slider-button-next:hover {
    background-color: #f0f0f0;
}


.popular-books__content {
    display: flex;
    align-items: center;
    gap: 20px;
}


.popular-books__banner img {
    width: 446px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 81px;
}

/* слайдер */
.popular-books__slider {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}


.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* слайд */
.slider-slide {
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.slider-slide img {
    width: 170px;
    height: 251px;
    border-radius: 5px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.slider-slide img:hover {
    transform: scale(1.1);
}

.popular-books__navigation {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 10px;
}

.slider-button-prev,
.slider-button-next {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0;
    z-index: 20; 
}

.slider-button-prev {
    left: 10px;
}

.slider-button-next {
    right: 50px;
}

.slider-button-prev:hover,
.slider-button-next:hover {
    background-color: #f0f0f0;
}


.swiper-card-btn {
    position: absolute;
    bottom: 119px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ED553B;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    padding: 16px 15px;
    border: none;
    cursor: pointer;
    opacity: 0;
    width: 257px;
    height: 50px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.swiper-card-portrait {
    position: relative;
    overflow: hidden;
}

.swiper-card-portrait:hover .swiper-card-btn {
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}
.main__latest-title {
    text-align: center;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 600;
    color: #393280;
    position: relative;
    z-index: 5;

    margin-bottom: 55px;
}

.main__latest-title::before,
.main__latest-title::after {
    display: block;
    content: "";
    width: 40%;
    height: 1px;
    background-color: #E0E0E0;
    position: absolute;
    z-index: -1;
}

.main__latest-title::before {
    left: 0;
    top: 35px;
}

.main__latest-title::after {
    right: 0;
    top: 35px;
}

.swiper {
    width: 100%;
    min-height: 720px;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.swiper-card {
    min-height: 560px;
}

.swiper-card-portrait {
    height: 435px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.swiper-card-name {
    text-align: center;
    font-family: Inter;
    font-size: 1.375rem;
    font-weight: 600;
    color: #393280;
}

.swiper-card-author {
    text-align: center;
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 400;
    color: #888888;
}

.swiper-card-price {
    text-align: center;
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 700;
    color: #ED553B;
}

.main__latest-line {
    margin-top: 60px;
    width: 100%;
    border-top: 1px solid #E0E0E0;
    color: #E0E0E0;
}

.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
}

.swiper-pagination-bullet-active {
    background-color: #ED553B;
    border: 1px solid #000;
}

.main__recommendation-title {
    text-align: center;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 600;
    color: #393280;
    position: relative;
    z-index: 5;

    margin-bottom: 55px;
}

.main__recommendation-title::before,
.main__recommendation-title::after {
    display: block;
    content: "";
    width: 27%;
    height: 1px;
    background-color: #E0E0E0;
    position: absolute;
    z-index: -1;
}

.main__recommendation-title::before {
    left: 0;
    top: 35px;
}

.main__recommendation-title::after {
    right: 0;
    top: 35px;
}

.main__recommendation-line {
    margin-top: 60px;
    width: 100%;
    border-top: 1px solid #E0E0E0;
    color: #E0E0E0;
}